openapi: 3.1.0
info:
  title: BOE - Resoluciones TACRC y LCSP
  version: 1.3.0
  description: Permite consultar resoluciones del TACRC y el texto consolidado vigente de la LCSP desde el BOE.
servers:
  - url: https://www.boe.es
    description: Sitio oficial del Boletín Oficial del Estado
paths:
  /buscar/boe.php:
    get:
      operationId: buscarResoluciones
      summary: Buscar resoluciones del TACRC
      description: Realiza una búsqueda en el BOE por palabra clave (como "TACRC") y devuelve resultados ordenados.
      parameters:
        - name: campo
          in: query
          required: true
          description: Campo de búsqueda (usar 'TODO' para buscar en todo el contenido)
          schema:
            type: string
            default: TODO
        - name: texto
          in: query
          required: true
          description: Texto a buscar (ej. "TACRC subsanación")
          schema:
            type: string
        - name: sort_field
          in: query
          required: false
          description: Campo de ordenación
          schema:
            type: string
            enum: [fecha_disposicion, relevancia]
        - name: sort_order
          in: query
          required: false
          description: Orden de resultados
          schema:
            type: string
            enum: [asc, desc]
        - name: page_hits
          in: query
          required: false
          description: Número de resultados por página
          schema:
            type: integer
      responses:
        '200':
          description: Página HTML con los resultados
          content:
            text/html:
              schema:
                type: string

  /diario_boe/txt.php:
    get:
      operationId: leerResolucion
      summary: Leer resolución completa del BOE
      description: Devuelve el HTML de una resolución BOE a partir de su ID (ej: BOE-A-2024-1234).
      parameters:
        - name: id
          in: query
          required: true
          description: ID del BOE (ej. BOE-A-2024-1234)
          schema:
            type: string
      responses:
        '200':
          description: Contenido HTML de la resolución
          content:
            text/html:
              schema:
                type: string

  /buscar/act.php:
    get:
      operationId: getLcspConsolidado
      summary: Obtener texto consolidado de la LCSP
      description: Devuelve el HTML del texto consolidado vigente de la Ley 9/2017, de Contratos del Sector Público.
      parameters:
        - name: id
          in: query
          required: true
          description: ID del BOE para la LCSP (ej: BOE-A-2017-12902)
          schema:
            type: string
        - name: modo
          in: query
          required: true
          description: Modo consolidado para obtener la versión vigente
          schema:
            type: string
      responses:
        '200':
          description: HTML del texto consolidado
          content:
            text/html:
              schema:
                type: string
