openapi: 3.1.0
info:
  title: Resoluciones TACRC vía BOE
  description: Busca resoluciones relacionadas con el TACRC y permite leer el contenido completo desde el Boletín Oficial del Estado (BOE). Además, permite consultar el texto consolidado vigente de la Ley de Contratos del Sector Público (LCSP).
  version: 1.3.0
servers:
  - url: https://www.boe.es
    description: Sitio oficial del Boletín Oficial del Estado
paths:
  /buscar/boe.php:
    get:
      operationId: buscarResolucionesPorFecha
      summary: Buscar resoluciones del TACRC en el BOE ordenadas por fecha
      description: Realiza una búsqueda por palabras clave en el BOE, incluyendo "TACRC" y otros términos opcionales, y ordena los resultados por fecha descendente.
      parameters:
        - name: campo[0]
          in: query
          required: true
          description: Campo de búsqueda (usar 'TODO' para buscar en todo el contenido)
          schema:
            type: string
            default: TODO
        - name: texto
          in: query
          required: true
          description: Texto a buscar (ej. "TACRC subsanación")
          schema:
            type: string
        - name: sort_field
          in: query
          required: false
          description: Campo de ordenación
          schema:
            type: string
            enum: [fecha_disposicion, relevancia]
            default: fecha_disposicion
        - name: sort_order
          in: query
          required: false
          description: Orden de resultados
          schema:
            type: string
            enum: [asc, desc]
            default: desc
        - name: page_hits
          in: query
          required: false
          description: Número de resultados por página
          schema:
            type: integer
            default: 10
      responses:
        '200':
          description: Página HTML con resultados del BOE
          content:
            text/html:
              schema:
                type: string

  /diario_boe/txt.php:
    get:
      operationId: leerResolucionBOE
      summary: Leer el contenido completo de una resolución del BOE
      description: Devuelve el contenido completo en HTML de una resolución del BOE a partir de su ID.
      parameters:
        - name: id
          in: query
          required: true
          description: ID de la resolución (ej. BOE-A-2024-1234)
          schema:
            type: string
      responses:
        '200':
          description: Contenido completo en texto (HTML) de la resolución
          content:
            text/html:
              schema:
                type: string

  /buscar/act.php:
    get:
      operationId: getLcspConsolidado
      summary: Obtener el texto consolidado de la LCSP
      description: Devuelve el HTML del texto vigente consolidado de la Ley 9/2017, de Contratos del Sector Público.
      parameters:
        - name: id
          in: query
          required: true
          description: ID del BOE para la LCSP (ej: BOE-A-2017-12902)
          schema:
            type: string
          example: BOE-A-2017-12902
        - name: modo
          in: query
          required: true
          description: Debe ser "consolidado" para obtener la versión vigente
          schema:
            type: string
          example: consolidado
      responses:
        '200':
          description: HTML del texto consolidado de la LCSP
          content:
            text/html:
              schema:
                type: string
